* {
    background-color: rgb(39, 40, 41);
    color: white;
    font-size: 1.2rem;
    font-family: 'Signika Negative', sans-serif;
}

#header {
    display: grid;
    height: 65px;
    width: auto;
    margin: -8px;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(0, 100, 255), rgb(255, 0, 100)) 1; 
    grid-template-areas: "nav nam bac";
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  #navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav;
    height: 65px;
    margin: 0;
    padding: 0;
  }
  
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nam;
    height: 65px;
    margin: 0;
    padding: 0;
  }
  
  #back {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: bac;
    height: 65px;
  }

#pls_centre {
    display: flex;
    margin-top: 25px;
    width: 1fr;
    justify-content: center;
}

#main_wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 75%;
    height: 800px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 75px;
    background-color: rgba(74, 75, 76, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*--------------------------------------------------------------------------------------------------------*/

#chapters {
    display: flex;
    margin-top: 0px;
    width: 25%;
    justify-content: center;
    align-items: center;
    background-color: rgba(74, 75, 76, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
