* {
    background-color: rgb(39, 40, 41);
    color: white;
    font-size: 1rem;
    font-family: 'Signika Negative', sans-serif;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: -10px;
}

header {
    display: grid;
    height: 65px;
    width: 100%;
    margin: -8px;
    margin-top: -25px;
    position: fixed;
    z-index: +2;
    grid-template-areas: "nav nam bac";
    grid-template-columns: 1fr 1fr 1fr;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-image: linear-gradient(to right, rgb(0, 100, 255), rgb(255, 0, 100)) 1; 
  }
  
  #navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: nav;
    height: 65px;
    margin: 0;
    padding-right: 25px;
  }
  
  #title {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: nam;
    height: 65px;
    margin: 0;
    padding: 0;
  }
  
  #back {
    display: flex;
    justify-content: end;
    align-items: center;
    grid-area: bac;
    height: 65px;
  }

#pls_centre {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#main_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    height: 800px;
    width: 75%;
    border-radius: 75px;
    background-color: rgba(74, 75, 76, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

/*--------------------------------------------------------------------------------------------------------*/

#chapters {
    display: inline-block;
    width: 20%;
    vertical-align: top;
    height: 3000px;
    margin-top: 44px;
    margin-left: -8px;
    margin-right: 75px;
    background-color: rgba(74, 75, 76, 0.25);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

#guide {
  display: inline-block;
  width: 64%;
  height: 800px;
  margin-top: 44px;
  vertical-align: top;
}

/*--------------------------------------------------------------------------------------------------------*/

#beatsaver {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 75px;
  margin-bottom: 75px;
  height: 200px;
  width: 200px;
}

#pfp {
  height: 115px;
  width: 115px;
  background-color: rgba(74, 75, 76, 0);
}

#pfp:hover {
  display: flex;
  flex-direction: column;
  align-items: start;
  height: 125px;
  width: 125px;
  margin-top: -5px;
  background-color: rgba(74, 75, 76, 0);
}

#wip_title {
  display: flex;
  justify-content: center;
}

#maps_wrapper {
  display: grid;
  height: auto;
  width: 85%;
  border-radius: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 180px;
  background-color: rgba(74, 75, 76, 0.25);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.map {
  display: grid;
  grid-template-columns: 150px 170px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "img nam"
  "img mpr"
  "img mdp"
  ;
  height: 150px;
  width: auto;
  border-radius: 25px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

.cover_img {
  height: 115px;
  margin-top: 17.5px;
  margin-left: 17.5px;
  width: auto;
  border-radius: 20px;
  grid-area: img;
}

.song_name {
  grid-area: nam;
}

.artist {
  grid-area: mpr;
  position: relative;
  top: -10px;
}

.links {
  grid-area: mdp;
  position: relative;
  bottom: -7px;
  background-color: rgba(74, 75, 76, 0);
}

.download_link {
  padding-right: 25px;
}